In [28]:
#Explore the dataset
#Disaster Categories
import pandas as pd
categories_df = pd.read_csv('disaster_categories.csv')

In [29]:
categories_df.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

In [30]:
#Looks like there are duplicate sets of ids as the  count of id more than the count of unique ids 
categories_df.shape, categories_df.id.nunique(), categories_df.id.isna().sum()

((26248, 2), 26180, 0)

In [31]:
# Find duplicate sets of rows with matching ids and categories text
len(categories_df[categories_df.duplicated(keep='first')])

32

In [85]:
# Deduplicate the dataframe by deleting the duplicate rows
duplicate_index = categories_df[categories_df.duplicated(keep='first')].index
duplicate_index
# drop these row indexes from dataFrame 
categories_df.drop(duplicate_index, axis=0, inplace = True)

In [86]:
categories_df.shape, categories_df.id.nunique(), categories_df.id.isna().sum()

((26180, 37), 26180, 0)

In [44]:
# Check for duplicated ids with non-duplicated categories
len(categories_df[categories_df.id.duplicated(keep='first')]),categories_df[categories_df.id.duplicated(keep='first')]

(36,
           id                                         categories
 163      202  related-1;request-1;offer-0;aid_related-1;medi...
 710      862  related-1;request-0;offer-0;aid_related-0;medi...
 1408    1652  related-1;request-1;offer-0;aid_related-1;medi...
 2825    3250  related-1;request-1;offer-0;aid_related-0;medi...
 3374    3882  related-1;request-1;offer-0;aid_related-1;medi...
 4341    4956  related-0;request-0;offer-0;aid_related-0;medi...
 4522    5153  related-1;request-0;offer-0;aid_related-1;medi...
 5072    5776  related-1;request-0;offer-0;aid_related-0;medi...
 5607    6393  related-0;request-0;offer-0;aid_related-0;medi...
 5697    6492  related-0;request-0;offer-0;aid_related-0;medi...
 5720    6515  related-1;request-1;offer-0;aid_related-0;medi...
 5878    6687  related-0;request-0;offer-0;aid_related-0;medi...
 6844    7747  related-0;request-0;offer-0;aid_related-0;medi...
 7037    7945  related-1;request-1;offer-0;aid_related-1;medi...
 7264    8190  related-1;request-1;offer-0;aid_related-1;medi...
 9162   10286  related-1;request-1;offer-0;aid_related-1;medi...
 10102  11503  related-1;request-1;offer-0;aid_related-1;medi...
 10822  12416  related-1;request-0;offer-0;aid_related-1;medi...
 10827  12420  related-1;request-0;offer-0;aid_related-1;medi...
 12052  13914  related-1;request-0;offer-0;aid_related-0;medi...
 12163  14135  related-1;request-1;offer-0;aid_related-1;medi...
 13206  15760  related-0;request-0;offer-0;aid_related-0;medi...
 13645  16245  related-1;request-0;offer-0;aid_related-1;medi...
 14686  17385  related-1;request-0;offer-0;aid_related-0;medi...
 14837  17553  related-1;request-0;offer-0;aid_related-0;medi...
 16086  18925  related-1;request-0;offer-0;aid_related-0;medi...
 16156  19003  related-1;request-0;offer-0;aid_related-1;medi...
 16281  19142  related-1;request-0;offer-0;aid_related-1;medi...
 16769  19687  related-1;request-0;offer-0;aid_related-0;medi...
 19625  22858  related-1;request-0;offer-0;aid_related-0;medi...
 20876  24247  related-1;request-0;offer-0;aid_related-1;medi...
 20966  24347  related-1;request-0;offer-0;aid_related-1;medi...
 22028  25512  related-1;request-0;offer-0;aid_related-1;medi...
 24040  27768  related-1;request-0;offer-0;aid_related-0;medi...
 24648  28462  related-1;request-0;offer-0;aid_related-1;medi...
 25156  29022  related-1;request-0;offer-0;aid_related-1;medi...)

In [66]:
categories_df[categories_df.id==202]

,id,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
162,202,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
163,202,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
# Conver the categories to individual columns and then find duplicates
# Using a simple for loop since number of records are not many
for row in categories_df.iloc:
    cats = [cat.strip().split('-') for cat in row.categories.split(';')]
    for cat, value in cats:
        categories_df[cat]=int(value)

In [55]:
categories_df.shape

(26216, 38)

In [60]:
categories_df.drop(columns=['categories'], inplace=True)

In [61]:
categories_df.id.nunique(), len(categories_df)

(26180, 26216)

In [65]:
categories_df[categories_df.duplicated(keep='first')]

,id,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
163,202,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
710,862,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1408,1652,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2825,3250,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3374,3882,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4341,4956,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4522,5153,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5072,5776,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5607,6393,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5697,6492,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5720,6515,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5878,6687,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6844,7747,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7037,7945,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7264,8190,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9162,10286,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10102,11503,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10822,12416,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10827,12420,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12052,13914,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12163,14135,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13206,15760,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13645,16245,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14686,17385,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14837,17553,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16086,18925,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16156,19003,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16281,19142,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16769,19687,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19625,22858,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20876,24247,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20966,24347,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22028,25512,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24040,27768,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24648,28462,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25156,29022,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [67]:
# We can now drop the duplicate rows again
# Deduplicate the dataframe by deleting the duplicate rows
duplicate_index = categories_df[categories_df.duplicated(keep='first')].index
duplicate_index
# drop these row indexes from dataFrame 
categories_df.drop(duplicate_index, axis=0, inplace = True)

In [68]:
categories_df.id.nunique(), len(categories_df)

(26180, 26180)

In [42]:
# Check the disaster messages csv
messages_df = pd.read_csv('disaster_messages.csv')

In [43]:
messages_df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [72]:
#Looks like there are duplicate sets of ids as the  count of id more than the count of unique ids 
messages_df.shape, messages_df.id.nunique(), messages_df.id.isna().sum()

((26248, 4), 26180, 0)

In [84]:
messages_df[messages_df.duplicated()]

,id,message,original,genre
163,202,?? port au prince ?? and food. they need gover...,p bay pap la syen ak manje. Yo bezwen ed gouve...,direct
656,804,elle est vraiment malade et a besoin d'aide. u...,she is really sick she need your help. please ...,direct
710,862,What is the address of the radio station? I as...,Ki adres radyo a? Paske m bezwen al depoze dos...,direct
1408,1652,"please we need water, food and tents, we have ...","p jwen dlo, manje, tant pou nou demi nou gen 1...",direct
2131,2446,How much money did TV Latino American collect ...,Konbyen kob tv latino america ranmase miami,direct
...,...,...,...,...
24040,27768,An EU-backed French offensive against rebels r...,NaN,news
24648,28462,"To date, a total of 39 people suffering from E...",NaN,news
24856,28687,"At present, UNHCR has 2,500 additional tents a...",NaN,news
25156,29022,"In a field in Jallouzai, just inside Pakistan,...",NaN,news
25242,29119,Most victims (90 per cent) show little or no s...,NaN,news

In [87]:
#Remove duplicate rows in messages_df
duplicate_index = messages_df[messages_df.duplicated(keep='first')].index
duplicate_index
# drop these row indexes from dataFrame 
messages_df.drop(duplicate_index, axis=0, inplace = True)

In [88]:
messages_df.shape, messages_df.id.nunique()

((26180, 4), 26180)

In [89]:
#We can now merge the two dataframes
consolidated_df = pd.merge(left=categories_df, right=messages_df, how='left', left_on='id', right_on='id')

In [90]:
consolidated_df.head()

,id,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,...,floods,storm,fire,earthquake,cold,other_weather,direct_report,message,original,genre
0,2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [91]:
consolidated_df.shape

(26180, 40)